<div class="col-md-4">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Detail</h5>
    </div>
    <div>
      <div class="ibox-content no-padding border-left-right">
        <img alt="image" class="img-circle m-t-md img-responsive" src="/img/a2.jpg">
      </div>
      <div class="ibox-content profile-content">
        <h4><strong>{{firstname}} {{lastname}}</strong></h4>
        <address>
          ID: <strong>{{id}}</strong><br>
          Sex: <strong>{{sex}}</strong><br>
          Curriculum: <strong>{{primeCurric}}</strong><br>
          <strong>{{emailaddr}}</strong><br>
        </address>
        <div class="user-button">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-exclamation-circle"></i> Suspend </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8">
</div>
