link(rel='stylesheet', href='#{cssDir}/bootstrap.min.css')
link(rel='stylesheet', href='#{cssDir}/font-awesome/css/font-awesome.css')
link(rel='stylesheet', href='#{cssDir}/animate.css')
link(rel='stylesheet', href='#{cssDir}/style.css')

