head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title #{title}
  include includes/css
body
  #wrapper
    nav.navbar-default.navbar-static-side(role='navigation')
      .sidebar-collapse
    #page-wrapper.gray-bg
      .row.border-bottom
        nav.navbar.navbar-static-top.white-bg(role='navigation', style='margin-bottom: 0')
          .navbar-header
            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
              i.fa.fa-bars
            form.navbar-form-custom(role='search', method='post', action='#')
              .form-group
                input#top-search.form-control(type='text', placeholder='Search for students', name='top-search')
          ul.nav.navbar-top-links.navbar-right
            li
              a(href='#')
                i.fa.fa-sign-out
                |  Log out
      #main.wrapper.wrapper-content.animated.fadeInRight
        .row
      .footer
        div
          strong Copyright
          |  &copy 2015
