* {
    margin:0;
    padding:0;
    list-style:none;
}
body {
    background-color: black;
}
h1, label {
    text-align:center;
    font-family:'Nothing You Could Do', cursive;
    padding:10px;
    text-shadow:1px 1px #333;
    background-color:#000;
    color:#fff;
}
.pics {
    margin:auto;
    margin:0px auto;
    position:relative;
    height:500px;
    width:800px;
}
.pics figure {
    background:#fff;
    display:inline;
    float:left;
    width:auto;
    padding:10px 10px 30px 10px;
    text-align:center;
    text-decoration:none;
    color:#333;
    font-size:28px;
    font-family:'Nothing You Could Do', cursive;
    font-weight:bold;
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,1);
    -moz-box-shadow:0px 0px 10px rgba(0,0,0,1);
    box-shadow:0px 0px 10px rgba(0,0,0,1);
    -webkit-transition:all .30s;
    -moz-transition:all .30s;
    -o-transition:all .30s;
    transition:all .30s;
    position:absolute;

    overflow:hidden
}

.pics figcaption {
  position: absolute;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
}

.pics figcaption {
  position: absolute;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;

  opacity: 0;
  bottom: 0;
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

.pics figure:hover figcaption {
  opacity: 1;
  left: 0;
}

.pics img {
    display:block;
    padding-bottom:20px;
}
.pics figure:hover {
    z-index:100;
}
.pics figure:after {
    content:attr(title);
}

/* Pictures placement, scaling and rotation */

.pics li:nth-child(1n) figure {
    -webkit-transform:rotate(30deg) scale(0.7,0.7);
    -moz-transform:rotate(30deg) scale(0.7,0.7);
    transform:rotate(30deg) scale(0.7,0.7);
    top:0%;
    left:60%;
}
.pics li:nth-child(2n) figure {
    -webkit-transform:rotate(-30deg) scale(0.7,0.7);
    -moz-transform:rotate(-30deg) scale(0.7,0.7);
    transform:rotate(-30deg) scale(0.7,0.7);
    top:40%;
    left:80%;
}
.pics li:nth-child(3n) figure {
    -webkit-transform:rotate(40deg) scale(0.7,0.7);
    -moz-transform:rotate(40deg) scale(0.7,0.7);
    transform:rotate(40deg) scale(0.7,0.7);
    top:50%;
    left:-10%;
}
.pics li:nth-child(4n) figure {
    -webkit-transform:rotate(-30deg) scale(0.7,0.7);
    -moz-transform:rotate(-30deg) scale(0.7,0.7);
    transform:rotate(-30deg) scale(0.7,0.7);
    top:0%;
    left:-10%;
}
.pics li:nth-child(5n) figure {
    -webkit-transform:rotate(-20deg) scale(0.8,0.8);
    -moz-transform:rotate(-20deg) scale(0.8,0.8);
    transform:rotate(-20deg) scale(0.8,0.8);
    top:50%;
    left:20%;
    z-index:3;
}
.pics li:nth-child(6n) figure {
    -webkit-transform:rotate(30deg) scale(0.7,0.7);
    -moz-transform:rotate(30deg) scale(0.7,0.7);
    transform:rotate(30deg) scale(0.7,0.7);
    top:60%;
    left:55%;
}
.pics li:nth-child(7n) figure {
    -webkit-transform:rotate(10deg) scale(0.7,0.7);
    -moz-transform:rotate(10deg) scale(0.7,0.7);
    transform:rotate(10deg) scale(0.7,0.7);
    top:0%;
    left:35%;
}

.pics li:nth-child(8n) figure {
    -webkit-transform:rotate(28deg) scale(0.7,0.7);
    -moz-transform:rotate(28deg) scale(0.7,0.7);
    transform:rotate(28deg) scale(0.7,0.7);
    top:0%;
    left:35%;
}

.pics li:nth-child(9n) figure {
    -webkit-transform:rotate(48deg) scale(0.7,0.7);
    -moz-transform:rotate(48deg) scale(0.7,0.7);
    transform:rotate(48deg) scale(0.7,0.7);
    top:50%;
    left:-20%;
}

.pics li:nth-child(10n) figure {
    -webkit-transform:rotate(-38deg) scale(0.7,0.7);
    -moz-transform:rotate(-38deg) scale(0.7,0.7);
    transform:rotate(-38deg) scale(0.7,0.7);
    top:0%;
    left:-90%;
}

.pics li:nth-child(11n) figure {
    -webkit-transform:rotate(18deg) scale(0.7,0.7);
    -moz-transform:rotate(18deg) scale(0.7,0.7);
    transform:rotate(18deg) scale(0.7,0.7);
    top:0%;
    left:65%;
}

.pics li:nth-child(12n) figure {
    -webkit-transform:rotate(-38deg) scale(0.7,0.7);
    -moz-transform:rotate(-38deg) scale(0.7,0.7);
    transform:rotate(-38deg) scale(0.7,0.7);
    top:0%;
    left:-32%;
}

/* Pictures rotation and scaling on hover */

.pics li:nth-child(n) figure:hover {
    -webkit-transform:rotate(0deg) scale(1,1);
    -moz-transform:rotate(0deg) scale(1,1);
    transform:rotate(0deg) scale(1,1);
}

#app-page-heading {
  position: fixed;
  right: 0;
  padding: 16px;
  z-index: 100000;
  font-size: 15px;
}
