<div class="contact-box">
    <div class="col-sm-4">
      <div class="text-center">
      <a href="#">
        <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a2.jpg">
        <div class="m-t-xs font-bold">{{primeCurric}}</div>
      </div>
    </a>
    </div>
    <div class="col-sm-8">
      <label class="checkbox-inline"> <input type="checkbox" value="{{emailaddr}}">Send Email</label>
      <a href="#">
      <h3><strong>{{firstname}} {{lastname}}</strong></h3>
      <address>
        ID: <strong>{{id}}</strong><br>
        Sex: <strong>{{sex}}</strong><br>
        Curriculum: <strong>{{primeCurric}}</strong><br>
        <strong>{{emailaddr}}</strong><br>
      </address>
  </a>
    </div>
    <div class="clearfix"></div>
</div>
